Source: https://ev-database.org/
Start Date: 2024-04-15 16:00

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
# Function to extract car brands from the dropdown menu
def extract_car_brands(html_content):
    # Parse the HTML content
    soup = BeautifulSoup(html_content, 'html.parser')
    
    # Find the <div> element containing the make dropdown menu
    make_dropdown = soup.find('div', class_='jplist-checkbox-dropdown')
    
    # Extract the list of car brands from the dropdown menu options
    brands_list = []
    if make_dropdown:
        # Find all <input> elements inside the dropdown
        input_elements = make_dropdown.find_all('input', {'data-path': True})
        for input_element in input_elements:
            # Extract the brand name from the 'id' attribute of the <input> element
            brand_name = input_element['id']
            brands_list.append(brand_name)
    
    return brands_list

In [3]:
def extract_car_info(html_content, brands_list):
    # Parse the HTML content
    soup = BeautifulSoup(html_content, 'html.parser')
    
    # Extract car information
    cars_data = []
    
    for item in soup.find_all('div', class_='list-item'):
        # Initialize car_info dictionary for each iteration
        car_info = {}
        
        # Check each car brand in the dropdown menu
        for brand in brands_list:
            # Find the <span> element with the class corresponding to the car make
            make_span = item.find('span', class_=brand)
            if make_span:
                # Extract other information based on the found make_span
                # Assign the brand as the title
                car_info['title'] = brand.capitalize()
                # Break out of the inner loop once a matching brand is found
                break
        
        # Extract other relevant information and add it to car_info dictionary
        model_elem = item.find('span', class_='model')
        car_info['model'] = model_elem.get_text(strip=True) if model_elem else None
        
        battery_elem = item.find('span', class_='battery')
        car_info['battery'] = battery_elem.get_text(strip=True) if battery_elem else None
        
        price_range_elem = item.find('span', class_='price-range')
        car_info['price-range'] = price_range_elem.get_text(strip=True).replace('€', '') if price_range_elem else None
        
        acceleration_elem = item.find('span', class_='acceleration')
        car_info['0 - 100'] = acceleration_elem.get_text(strip=True) if acceleration_elem else None
        
        topspeed_elem = item.find('span', class_='topspeed')
        car_info['Top Speed'] = topspeed_elem.get_text(strip=True) if topspeed_elem else None
        
        erange_elem = item.find('span', class_='erange_real')
        car_info['Range*'] = erange_elem.get_text(strip=True) if erange_elem else None
        
        efficiency_elem = item.find('span', class_='efficiency')
        car_info['Efficiency*'] = efficiency_elem.get_text(strip=True) if efficiency_elem else None
        
        fastcharge_elem = item.find('span', class_='fastcharge_speed_print')
        car_info['Fastcharge*'] = fastcharge_elem.get_text(strip=True) if fastcharge_elem else None
        
        germany_price_elem = item.find('span', class_='country_de')
        car_info['Price in Germany before incentives'] = germany_price_elem.get_text(strip=True) if germany_price_elem else None
        
        netherlands_price_elem = item.find('span', class_='country_nl')
        car_info['Price in The Netherlands before incentives'] = netherlands_price_elem.get_text(strip=True) if netherlands_price_elem else None
        
        uk_price_elem = item.find('span', class_='country_uk')
        car_info['Price in the United Kingdom after incentives'] = uk_price_elem.get_text(strip=True) if uk_price_elem else None
        
        # Extract Drive Configuration, Tow-Hitch, and Towing capacity
        icons_row_1 = item.find('div', class_='icons-row-1')
        icons_row_2 = item.find('div', class_='icons-row-2')
        
        # Extract Drive Configuration
        drive_configuration = icons_row_1.find('span', title=True).get('title') if icons_row_1 else None
        car_info['Drive_Configuration'] = drive_configuration
        
        # Append car_info to cars_data list
        cars_data.append(car_info)

    return cars_data

In [4]:
# Send a GET request to the website
url = 'https://ev-database.org/'
response = requests.get(url)

# Extract car brands from the dropdown menu
brands_list = extract_car_brands(response.text)

# Extract car information
cars_data = extract_car_info(response.text, brands_list)

In [5]:
# Create DataFrame from the extracted data
df = pd.DataFrame(cars_data)

In [6]:
df.head(5)

,title,model,battery,price-range,0 - 100,Top Speed,Range*,Efficiency*,Fastcharge*,Price in Germany before incentives,Price in The Netherlands before incentives,Price in the United Kingdom after incentives,Drive_Configuration
0,Tesla,Model 3,57.5,108,6.1 sec,201 km/h,415 km,139 Wh/km,690 km/h,"€43,970","€43,993","£39,990",Rear Wheel Drive
1,Tesla,Model Y Long Range Dual Motor,75,129,5.0 sec,217 km/h,435 km,172 Wh/km,670 km/h,"€55,970","€50,990","£52,990",All Wheel Drive
2,Tesla,Model 3 Long Range Dual Motor,75,108,4.4 sec,201 km/h,500 km,150 Wh/km,770 km/h,"€52,970","€51,993","£49,990",All Wheel Drive
3,Byd,ATTO 3,60.5,121,7.3 sec,160 km/h,330 km,183 Wh/km,370 km/h,"€37,990","€38,990","£37,195",Front Wheel Drive
4,Tesla,Model Y,57.5,135,6.9 sec,217 km/h,350 km,164 Wh/km,580 km/h,"€45,970","€43,990","£44,990",Rear Wheel Drive

In [7]:
# Create DataFrame from the extracted data
df = pd.DataFrame(cars_data)

# Convert UK price to USD
for index, row in df.iterrows():
    uk_price = row['Price in the United Kingdom after incentives']
    nl_price = row['Price in The Netherlands before incentives']
    de_price = row['Price in Germany before incentives']
    
    try:
        if uk_price and uk_price.strip() != 'N/A':  # Check if UK price is not empty and not 'N/A'
            uk_price_numeric = float(''.join(filter(str.isdigit, uk_price)))  # Remove non-numeric characters
            usd_price = uk_price_numeric * 1.246  # Use UK price and conversion rate to convert to USD
            df.at[index, 'Approx. in USD based on source'] = int(usd_price)  # Convert the float to an integer
        elif nl_price and nl_price.strip() != 'N/A':  # Check if NL price is not empty and not 'N/A'
            nl_price_numeric = float(''.join(filter(str.isdigit, nl_price)))  # Remove non-numeric characters
            usd_price = nl_price_numeric * 0.55866  # Use NL price and conversion rate to convert to USD
            df.at[index, 'Approx. in USD based on source'] = int(usd_price)  # Convert the float to an integer
        elif de_price and de_price.strip() != 'N/A':  # Check if DE price is not empty and not 'N/A'
            de_price_numeric = float(''.join(filter(str.isdigit, de_price)))  # Remove non-numeric characters
            usd_price = de_price_numeric * 1.06  # Use DE price and conversion rate to convert to USD
            df.at[index, 'Approx. in USD based on source'] = int(usd_price)  # Convert the float to an integer
        else:
            df.at[index, 'Approx. in USD based on source'] = None
    except ValueError:
        # Handle cases where the price cannot be converted to float
        df.at[index, 'Approx. in USD based on source'] = None

# Rearrange columns if needed
df = df[['title', 'model', 'battery', 'price-range', '0 - 100', 'Top Speed', 'Range*', 'Efficiency*', 'Fastcharge*', 'Price in Germany before incentives', 'Price in The Netherlands before incentives', 'Price in the United Kingdom after incentives', 'Approx. in USD based on source', 'Drive_Configuration']]

df.head(10)

,title,model,battery,price-range,0 - 100,Top Speed,Range*,Efficiency*,Fastcharge*,Price in Germany before incentives,Price in The Netherlands before incentives,Price in the United Kingdom after incentives,Approx. in USD based on source,Drive_Configuration
0,Tesla,Model 3,57.5,108,6.1 sec,201 km/h,415 km,139 Wh/km,690 km/h,"€43,970","€43,993","£39,990",49827.0,Rear Wheel Drive
1,Tesla,Model Y Long Range Dual Motor,75,129,5.0 sec,217 km/h,435 km,172 Wh/km,670 km/h,"€55,970","€50,990","£52,990",66025.0,All Wheel Drive
2,Tesla,Model 3 Long Range Dual Motor,75,108,4.4 sec,201 km/h,500 km,150 Wh/km,770 km/h,"€52,970","€51,993","£49,990",62287.0,All Wheel Drive
3,Byd,ATTO 3,60.5,121,7.3 sec,160 km/h,330 km,183 Wh/km,370 km/h,"€37,990","€38,990","£37,195",46344.0,Front Wheel Drive
4,Tesla,Model Y,57.5,135,6.9 sec,217 km/h,350 km,164 Wh/km,580 km/h,"€45,970","€43,990","£44,990",56057.0,Rear Wheel Drive
5,Mg,MG4 Electric 64 kWh,61.7,102,7.9 sec,160 km/h,360 km,171 Wh/km,630 km/h,"€39,990","€35,785","£29,495",36750.0,Rear Wheel Drive
6,Byd,SEAL 82.5 kWh AWD Excellence,82.5,107,3.8 sec,180 km/h,490 km,168 Wh/km,540 km/h,"€50,990","€50,990","£48,695",60673.0,All Wheel Drive
7,Citroen,e-C3,44,90,11.0 sec,135 km/h,265 km,166 Wh/km,340 km/h,"€23,300","€24,290","* £21,000",26166.0,Front Wheel Drive
8,Bmw,i4 eDrive40,80.7,122,5.7 sec,190 km/h,515 km,157 Wh/km,800 km/h,"€59,200","€62,992","£57,890",72130.0,Rear Wheel Drive
9,Byd,DOLPHIN 60.4 kWh,60.5,101,7.0 sec,160 km/h,340 km,178 Wh/km,340 km/h,"€32,990","€35,490","£30,195",37622.0,Front Wheel Drive

In [8]:
# Remove specific substrings from columns
df['title'] = df['title'].str.upper()
df['0 - 100'] = df['0 - 100'].str.replace(' sec', '')
df['Top Speed'] = df['Top Speed'].str.replace(' km/h', '')
df['Range*'] = df['Range*'].str.replace(' km', '')
df['Efficiency*'] = df['Efficiency*'].str.replace(' Wh/km', '')
df['Fastcharge*'] = df['Fastcharge*'].str.replace(' km/h', '')
df['Price in Germany before incentives'] = df['Price in Germany before incentives'].str.replace('€', '')
df['Price in The Netherlands before incentives'] = df['Price in The Netherlands before incentives'].str.replace('€', '')
df['Price in the United Kingdom after incentives'] = df['Price in the United Kingdom after incentives'].str.replace('£', '')

# Remove "*" from specified columns if exists
df['Price in Germany before incentives'] = df['Price in Germany before incentives'].str.replace('* ', '')
df['Price in The Netherlands before incentives'] = df['Price in The Netherlands before incentives'].str.replace('* ', '')
df['Price in the United Kingdom after incentives'] = df['Price in the United Kingdom after incentives'].str.replace('* ', '')

# Format Approx. in USD based on UK price column
df['Approx. in USD based on source'] = df['Approx. in USD based on source'].apply(lambda x: '{:,.0f}'.format(x) if pd.notnull(x) else None)

In [9]:
# Rename the price-range column
df = df.rename(columns={
    'title':'Brand',
    'model':'Model',
    'battery':'Battery',
    'price-range':'pound_per_km_of_range',
    'Top Speed':'Top_Speed',
    'Range*':'Range',
    'Efficiency*':'Efficiency',
    'Fastcharge*':'Fastcharge',
    'Price in Germany before incentives':'Price_in_Germany_before_incentives',
    'Price in The Netherlands before incentives':'Price_in_The_Netherlands_before_incentives',
    'Price in the United Kingdom after incentives':'Price_in_the_United_Kingdom_after_incentives',
    'Approx. in USD based on source':'Approx_in_USD_based_on_source'
    })
df.head()

,Brand,Model,Battery,pound_per_km_of_range,0 - 100,Top_Speed,Range,Efficiency,Fastcharge,Price_in_Germany_before_incentives,Price_in_The_Netherlands_before_incentives,Price_in_the_United_Kingdom_after_incentives,Approx_in_USD_based_on_source,Drive_Configuration
0,TESLA,Model 3,57.5,108,6.1,201,415,139,690,"43,970","43,993","39,990","49,827",Rear Wheel Drive
1,TESLA,Model Y Long Range Dual Motor,75,129,5.0,217,435,172,670,"55,970","50,990","52,990","66,025",All Wheel Drive
2,TESLA,Model 3 Long Range Dual Motor,75,108,4.4,201,500,150,770,"52,970","51,993","49,990","62,287",All Wheel Drive
3,BYD,ATTO 3,60.5,121,7.3,160,330,183,370,"37,990","38,990","37,195","46,344",Front Wheel Drive
4,TESLA,Model Y,57.5,135,6.9,217,350,164,580,"45,970","43,990","44,990","56,057",Rear Wheel Drive

In [10]:
df.columns

Index(['Brand', 'Model', 'Battery', 'pound_per_km_of_range', '0 - 100',
       'Top_Speed', 'Range', 'Efficiency', 'Fastcharge',
       'Price_in_Germany_before_incentives',
       'Price_in_The_Netherlands_before_incentives',
       'Price_in_the_United_Kingdom_after_incentives',
       'Approx_in_USD_based_on_source', 'Drive_Configuration'],
      dtype='object')

In [11]:
df.to_csv('cars_data_cleaned.csv', index=False)

In [12]:
print(brands_list)

['abarth', 'aiways', 'alfa romeo', 'audi', 'bmw', 'byd', 'citroen', 'cupra', 'dacia', 'ds', 'e.go', 'elaris', 'fiat', 'fisker', 'ford', 'genesis', 'gwm', 'honda', 'hongqi', 'hyundai', 'jaguar', 'jeep', 'kia', 'lancia', 'lexus', 'lotus', 'lucid', 'maserati', 'maxus', 'mazda', 'mercedes-benz', 'mg', 'mini', 'nio', 'nissan', 'opel', 'peugeot', 'polestar', 'porsche', 'renault', 'rolls-royce', 'seres', 'skoda', 'smart', 'ssangyong', 'subaru', 'tesla', 'toyota', 'vinfast', 'volkswagen', 'volvo', 'voyah', 'xpeng', 'zeekr']

In [13]:
df = pd.read_csv('cars_data_cleaned.csv')
for col in ['Price_in_Germany_before_incentives', 'Approx_in_USD_based_on_source', 'Price_in_The_Netherlands_before_incentives', 'Price_in_the_United_Kingdom_after_incentives']:
    try:
        df[col] = df[col].str.replace(',', '')
    except Exception as e:
        print(col)
df.to_csv('cars_data_cleaned.csv', index=False)

In [14]:
df = pd.read_csv('cars_data_cleaned.csv')
df['Fastcharge'] = df['Fastcharge'].apply(lambda x: '' if x == '-' else x)
df.to_csv('cars_data_cleaned.csv', index=False)

In [15]:
df.dtypes

Brand                                            object
Model                                            object
Battery                                         float64
pound_per_km_of_range                             int64
0 - 100                                         float64
Top_Speed                                         int64
Range                                             int64
Efficiency                                        int64
Fastcharge                                       object
Price_in_Germany_before_incentives              float64
Price_in_The_Netherlands_before_incentives      float64
Price_in_the_United_Kingdom_after_incentives    float64
Approx_in_USD_based_on_source                     int64
Drive_Configuration                              object
dtype: object

In [16]:
df = pd.read_csv('cars_data_cleaned.csv')
# df.drop('Unnamed: 0', axis=1).to_csv('cars_data.csv', index=False)